body  {
background-image: url("./images/bg.png");
  background-size: cover;
  background-attachment: fixed;
}
.App-header {
  background-color: white;
  border-radius: 3rem;
  padding-bottom: 2rem;
  font-size: calc(1rem + 1vw); /* Responsive font size */
  position: fixed;
  top: 50%; /* Adjusted to center vertically for all screens */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%; /* More responsive width */
  max-width: 500px; /* Maximum width */
  min-width: 300px; /* Minimum width */
}

button {
  font-size: 1.5rem; /* Adjusted font size */
  background-color: darkslateblue;
  color: white;
  border-radius: 1.6rem;
  padding: 0.5rem;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(1rem + 2vw); /* Increase font size slightly on smaller screens */
    width: 90%; /* Increase width percentage for smaller screens */
  }

  button {
    font-size: 1.2rem; /* Adjust button font size for smaller screens */
  }
}